.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    background: transparent;
    padding: 6px 3%;
    border-radius: 50px;
    margin: 9px 80px;
    position: absolute;
    z-index: 10;

    background: rgba(255, 255, 255, 0.69); 
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); /* Safari support */
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);

}

.logo{
    cursor: pointer;
    width: 160px;
}

ul{
    flex: 1;
    list-style: none;
    text-align: right;
}

li{
    display: inline-block;
    margin: 10px 12px;
    font-size: 18px;
    cursor: pointer;
}