.sidebar {
    width: 260px;
    background-color: #d9772b;
    /* background-color: #155263; */
    color: white;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    z-index: 100;
}

.sidebar-logo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;   
    gap: 8px;

    padding: 0 24px 24px;
    margin-bottom: 40px;

    border-bottom: 1px solid rgb(255, 255, 255);
}

.sidebar-logo img {
    width: 200px;      
    height: auto;
    object-fit: contain;
    
}

.sidebar-logo p {
    font-size: 20px;
    color: rgb(255, 255, 255);
    margin-left: 44px;
}

.nav-links {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 8px;
    
}


.nav-item a {
    display: flex;
    align-items: center;
    gap: 12px;
    border-left: 4px solid transparent;
    width: 100%;
    box-sizing: border-box;

    padding: 12px 24px;
    font-size: 15px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: background-color 0.2s, color 0.2s;
}

.nav-item a:hover,
.nav-item a.active {
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    border-left: white;
}

.nav-item a.active {
    background-color: rgba(255, 255, 255, 0.15);
}
